{% extends 'base.html' %}




{% block title %} Home {% endblock %}



{% block content %}

<div>
    <h1>CRUD</h1>
    Select a Table
    <!-- <a href="{{ url_for('query_goalgetter') }}" class="btn btn-warning btn-xs">SQL Query - Top Goalgetter</a> -->
    </div>
    <div>
    <a href="/player">Player</a>
            <a href="{{ url_for('Index') }}">User_Test</a>
            <a href="/team">Team</a>
            <a href="/coach">Coach</a>
            <a href="/membership">Membership</a>
            <a href="/sponsoring">Sponsoring</a>
            <a href="/table">Table</a>
            <a href="/title">Title</a>
    </div>
    {% endblock %}