{% extends "base.html" %}

{% block content %}
<h1>Welcome to the Ultimate Soccer Team DB</h1>

<!-- This is our homepage template -->

<h2>About</h2>

This Flask application is supposed to offer you an overview of fictional soccer teams. <br>
This means, there will be parts you know from the real world like player names, on the other hand the only title you can win in our fictional database, is the UEFA Champions League. <br> There may also be player with names or teams with number of titles, you may never have heard of. ;)
<br>The idea behind this database is to give information concerning Teams at a certain point of time.<br>
Users will be able to see stats by querying predefined SQL-Queries. Besides they may perform CRUD operations to edit the data.<br>
The initial load of the database will fill the database with sample data. 
<br><br>
Congratulations! By setting the application up, you have passed the hardest part. Now have fun exploring our database and queries.
Enjoy!
<br>
<br>

PS: in Github you will find a cool walkthrough video of the database, functions and queries :)
<br>
<br>
<h2>Error Handling</h2>

Check the User Guide in Github.
<br>
<br>
Make sure you use the correct required python packages.
<br>
<br>
Make sure you have your local pgadmin passwords for your pgadmin server/user inserted.
<br>
<br>
Make sure you created a database in pgadmin called "soccer".
<br>
<br>
In some cases it makes sense to delete all tables from the database "soccer". (Only in case they exist already)
<br>
<br>
Deleting pycache makes sense sometimes as well.
<br>
<br>
The application has been tested on two Windows 10 computers.
<br>
<br>

<br />
<!-- View of current teams -->
<div>
        <h2> View of all Teams in DB </h2>
        <table class="table table-hover table-active">
            <tr>
            <tr>
    
                <th>ID</th>
                <th>Team Name</th>
                <th>City</th>
    
            </tr>
    
    
            {% for row in data %}
            <tr>
                <td>{{row.id}}</td>
                <td>{{row.team_name}}</td>
                <td>{{row.city}}</td>
            </tr>
            {% endfor %}
    
        </table>
    
    </div>

{% endblock %}