{% extends "base.html" %}

{% block content %}
<h1>Home - SQL Queries</h1>
Trigger SQL queries.
<br />
<hr/>
<br />
<!-- This is a button for SQL Query -->
<div>
    <a href="{{ url_for('query_goalgetter') }}" class="btn btn-warning btn-xs">SQL Query - Top Goalgetter</a>
</div>
<br />
<div>
    <a href="{{ url_for('query_teamgoals') }}" class="btn btn-warning btn-xs">SQL Query - Top Teams by Goals</a>
</div>
<br />
<div>
    <a href="{{ url_for('query_table') }}" class="btn btn-warning btn-xs">SQL Query - CurrentTable</a>
</div>
<br />
<div>
    <a href="{{ url_for('query_memberships') }}" class="btn btn-warning btn-xs">SQL Query - Total Memberships</a>
</div>
<br />
<div>Query Player by lastname <br> (check spelling)
    <form action="{{ url_for('run') }}" method="post">
        <div>
            <input type="text" name="submit_player_name">
            <input type="submit" class="btn btn-warning btn-xs" value="Query">
        </div>
    </form>
</div>
{% endblock %}
