{% extends "base.html" %}

{% block content %}
    <h1>Total Memberships</h1>
    Your query was succesfully executed.
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}
    <div>
        <div>
            <table class="table">
            <tr>

                <th>Total Memberships</th>

            </tr>
        
            {% for u in data %}
            <tr>
                    <td>{{u}}</td>
                </tr>
            {% endfor %}
            </table>

         </div>
        </div>
{% endblock %}