{% extends "base.html" %}

{% block content %}
    <h1>Query by lastname: {{ name }}</h1>
    Your query has been successful.
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}
    <div>
        <table class="table">

            <tr>

                <th>First Name</th>
                <th>Last Name</th>
                <th>Number</th>
                <th>Goals</th>
                <th>Nationality</th>
                <th>Team ID</th>

            </tr>


            {% for row in data %}
            <tr>

                <td>{{row.fname}}</td>
                <td>{{row.lname}}</td>
                <td>{{row.pl_no}}</td>
                <td>{{row.pl_goals}}</td>
                <td>{{row.nationality}}</td>
                <td>{{row.team_id}}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}