{% extends 'base.html' %}




{% block title %} Home {% endblock %}



{% block content %}

<div class="container">
    <div class="row">
        <div class="col md-12">
            
            Tipp: When a player switches Teams or if you insert a new player:
            <br/>
            Select the Team where the player is currently playing at
            <table class="table">
            <tr>

                <th>Team ID</th>
                <th>Team Name</th>
                
            </tr>


            {% for row in team %}
            <tr>
                <td>{{row.id}}</td>
                <td>{{row.team_name}}</td>
                
                <td>
            {% endfor %}
            </table>

            <div class="jumbotron p-3">

                <h2>Manage <b>Sponsorings</b> <button type="button" class="btn btn-link float-right" data-toggle="modal"
                        data-target="#mymodal">Add New Sponsoring</button> </h2>


                {% with messages = get_flashed_messages() %}

                {% if messages %}

                {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">

                    <button type="button" class="close" data-dismiss="alert" aria-label="close">

                        <span aria-hidden="true">x</span>

                    </button>


                    {{message}}


                </div>


                {% endfor %}

                {% endif %}
                {% endwith %}


                <table class="table table-hover table-default">

                    <tr>

                        <th>Sponsor ID</th>
                        <th>Start Date</th>
                        <th>Sponsor Name</th>
                        <th>Team ID</th>
                    </tr>


                    {% for row in data %}
                    <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.start_date}}</td>
                        <td>{{row.sponsor_name}}</td>
                        <td>{{row.team_id}}</td>

                        <td>
                            <a href="/update_sponsoring/{{row.id}}" class="btn btn-primary btn-xs" data-toggle="modal"
                                data-target="#modaledit{{row.id}}">Edit</a>
                            <a href="/delete_sponsoring/{{row.id}}" class="btn btn-danger btn-xs"
                                onclick="return confirm('Are You Sure To Delete ?')">Delete</a>


                        </td>

                    </tr>


                    <!-- Modal Edit Employee-->
                    <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">


                            <div class="modal-content">


                                <div class="modal-header">


                                    <h4 class="modal-title">Update Information</h4>


                                </div>


                                <div class="modal-body">


                                    <form action="{{ url_for('update_sponsoring') }}" method="POST">


                                        <div class="form-group">


                                            <label>Start Date:</label>
                                            <input type="hidden" name="id" value="{{row.id}}">

                                            <input type="text" class="form-control" name="start_date" value="{{row.start_date}}">


                                        </div>

                                        <div class="form-group">


                                            <label>Sponsor Name:</label>
                                            <input type="hidden" name="id" value="{{row.id}}">

                                            <input type="text" class="form-control" name="sponsor_name" value="{{row.sponsor_name}}">


                                        </div>

                                        <div class="form-group">


                                            <label>Team ID:</label>

                                            <input type="text" class="form-control" name="team_id"
                                                value="{{row.team_id}}">


                                        </div>


                                        <div class="form-group">


                                            <button class="btn btn-primary" type="submit">Update</button>


                                        </div>


                                    </form>


                                </div>


                                <div class="modal-footer">


                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                                </div>


                            </div>


                        </div>

                    </div>


                    {% endfor %}


                </table>


            </div>



            <!-- Modal Add Employee-->


            <div id="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 class="modal-title">Add Sponsoring</h4>
                        </div>
                        <div class="modal-body">

                            <form action="{{url_for('insert_sponsoring')}}" method="POST">


                                <div class="form-group">

                                    <label>Start Date:</label>
                                    <input type="text" class="form-control" name="start_date" required="1">


                                </div>

                                <div class="form-group">

                                    <label>Sponsor Name:</label>
                                    <input type="text" class="form-control" name="sponsor_name" required="1">


                                </div>

                                <div class="form-group">


                                    <label>Team ID:</label>
                                    <input type="text" class="form-control" name="team_id" required="1">


                                </div>

                                <div class="form-group">


                                    <button class="btn btn-primary" type="submit">Add Sponsoring</button>


                                </div>


                            </form>


                        </div>


                        <div class="modal-footer">


                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                        </div>


                    </div>


                </div>


            </div>





        </div>

    </div>


</div>


{% endblock %}